# Trabalhando com Excel

* Com o Pandas podemos trabalhar com Excel.
* Isso é muito bom, pois, sabemos que temos muita informação nos dias de hoje em panilhas do excel.
* Diante disso você pode usar o pandas para manipular panilhas do excel e até mesmo gerar novas panilhas a partir de outros dados.

In [2]:
import pandas as pd

In [ ]:
# Lendo uma panilha do excel no Pandas.
df_excel = pd.read_excel('nome_tabela', sheetname=0, header=1)

In [ ]:
df_excel.head()

In [ ]:
# Lendo o arquivo indexado pela coluna 
df_excel = pd.read_excel('nome', sheetname=0, header=1, index_col=3)

In [ ]:
df_excel.head()

In [ ]:
df_excel.sort_index()

## Gerando Planilhas a partir de Dataframes

In [4]:
data = 'kc_house_data.csv'
dataset = pd.read_csv(data, sep=',')

In [5]:
dataset.head()

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
0,7129300520,20141013T000000,221900.0,3.0,1.00,1180,5650,1.0,0,0,...,7,1180,0,1955,0,98178,47.5112,-122.257,1340,5650
1,6414100192,20141209T000000,538000.0,3.0,2.25,2570,7242,2.0,0,0,...,7,2170,400,1951,1991,98125,47.7210,-122.319,1690,7639
2,5631500400,20150225T000000,180000.0,2.0,1.00,770,10000,1.0,0,0,...,6,770,0,1933,0,98028,47.7379,-122.233,2720,8062
3,2487200875,20141209T000000,604000.0,4.0,3.00,1960,5000,1.0,0,0,...,7,1050,910,1965,0,98136,47.5208,-122.393,1360,5000
4,1954400510,20150218T000000,510000.0,3.0,2.00,1680,8080,1.0,0,0,...,8,1680,0,1987,0,98074,47.6168,-122.045,1800,7503

In [6]:
colunas = ['id', 'price', 'bedrooms', 'bathrooms', 'floors']
dataset[colunas].head()

           id     price  bedrooms  bathrooms  floors
0  7129300520  221900.0       3.0       1.00     1.0
1  6414100192  538000.0       3.0       2.25     2.0
2  5631500400  180000.0       2.0       1.00     1.0
3  2487200875  604000.0       4.0       3.00     1.0
4  1954400510  510000.0       3.0       2.00     1.0

In [7]:
# Salvando a nova tabela
dataset[colunas].to_excel('planilha_criada.xlsx', index=False)

## Python para Análise de Dados

**Carregando dados em mais de um dataset**

In [8]:
orders = pd.read_csv('olist_orders_dataset.csv')

In [9]:
orders.head()

,order_id,customer_id,order_status,order_purchase_timestamp,order_approved_at,order_delivered_carrier_date,order_delivered_customer_date,order_estimated_delivery_date
0,e481f51cbdc54678b7cc49136f2d6af7,9ef432eb6251297304e76186b10a928d,delivered,2017-10-02 10:56:33,2017-10-02 11:07:15,2017-10-04 19:55:00,2017-10-10 21:25:13,2017-10-18 00:00:00
1,53cdb2fc8bc7dce0b6741e2150273451,b0830fb4747a6c6d20dea0b8c802d7ef,delivered,2018-07-24 20:41:37,2018-07-26 03:24:27,2018-07-26 14:31:00,2018-08-07 15:27:45,2018-08-13 00:00:00
2,47770eb9100c2d0c44946d9cf07ec65d,41ce2a54c0b03bf3443c3d931a367089,delivered,2018-08-08 08:38:49,2018-08-08 08:55:23,2018-08-08 13:50:00,2018-08-17 18:06:29,2018-09-04 00:00:00
3,949d5b44dbf5de918fe9c16f97b45f8a,f88197465ea7920adcdbec7375364d82,delivered,2017-11-18 19:28:06,2017-11-18 19:45:59,2017-11-22 13:39:59,2017-12-02 00:28:42,2017-12-15 00:00:00
4,ad21c59c0840e6cb83a9ceb5573f8159,8ab97904e6daea8866dbdbc4fb7aad2c,delivered,2018-02-13 21:18:39,2018-02-13 22:20:29,2018-02-14 19:46:34,2018-02-16 18:17:02,2018-02-26 00:00:00

**Carregando o dataset de itens pedidos**

In [10]:
orders_items = pd.read_csv('olist_order_items_dataset.csv')

In [11]:
orders_items.head()

,order_id,order_item_id,product_id,seller_id,shipping_limit_date,price,freight_value
0,00010242fe8c5a6d1ba2dd792cb16214,1,4244733e06e7ecb4970a6e2683c13e61,48436dade18ac8b2bce089ec2a041202,2017-09-19 09:45:35,58.90,13.29
1,00018f77f2f0320c557190d7a144bdd3,1,e5f2d52b802189ee658865ca93d83a8f,dd7ddc04e1b6c2c614352b383efe2d36,2017-05-03 11:05:13,239.90,19.93
2,000229ec398224ef6ca0657da4fc703e,1,c777355d18b72b67abbeef9df44fd0fd,5b51032eddd242adc84c38acab88f23d,2018-01-18 14:48:30,199.00,17.87
3,00024acbcdf0a6daa1e931b038114c75,1,7634da152a4610f1595efa32f14722fc,9d7a1d34a5052409006425275ba1c2b4,2018-08-15 10:10:18,12.99,12.79
4,00042b26cf59d7ce69dfabb4e55b4fd9,1,ac6c3623068f30de03045865e4e10089,df560393f3a51e74553ab94004ba5c87,2017-02-13 13:57:51,199.90,18.14

**Opções de merge**

**Tipos de Join (Ligações)**
   * INNER JOIN (Padrão) - Retorna apenas os registros que contém a mesma chave em ambos os DataFrames.
   * LEFT JOIN - Retorna todos os registros do DataFrame à esquerda independente se contém um correspondente à direita.
   * RIGHT JOIN - Retorna todos os registros do DataFrame à direita independente se contém um correspondente à esquerda.
   * OUTER JOIN - Retorna todos os registros em âmbos os DataFrame.

**Consultando os dados nos dois datasets e ligando através da chave order_id**

* Selecionando os atributos do dataset **orders**
    * order_id
    * order_status
    * order_approved_at
* Selecionando os atributos do dataset **orders_items**
    * product_id
    * seller_id
    * price
    * freight_value

In [12]:
# Merge parametros: 1 - dataset_a_esquerda, 2 - dataset_a_direita, 3 - on (atributo que ira ligar os dois datasets)
query = pd.merge(orders[['order_id', 'order_status', 'order_approved_at']],
                orders_items[['order_id', 'product_id', 'seller_id', 'price', 'freight_value']],
                on='order_id')

In [13]:
query.head()

,order_id,order_status,order_approved_at,product_id,seller_id,price,freight_value
0,e481f51cbdc54678b7cc49136f2d6af7,delivered,2017-10-02 11:07:15,87285b34884572647811a353c7ac498a,3504c0cb71d7fa48d967e0e4c94d59d9,29.99,8.72
1,53cdb2fc8bc7dce0b6741e2150273451,delivered,2018-07-26 03:24:27,595fac2a385ac33a80bd5114aec74eb8,289cdb325fb7e7f891c38608bf9e0962,118.70,22.76
2,47770eb9100c2d0c44946d9cf07ec65d,delivered,2018-08-08 08:55:23,aa4383b373c6aca5d8797843e5594415,4869f7a5dfa277a7dca6462dcf3b52b2,159.90,19.22
3,949d5b44dbf5de918fe9c16f97b45f8a,delivered,2017-11-18 19:45:59,d0b61bfb1de832b15ba9d266ca96e5b0,66922902710d126a0e7d26b0e3805106,45.00,27.20
4,ad21c59c0840e6cb83a9ceb5573f8159,delivered,2018-02-13 22:20:29,65266b2da20d04dbe00c5c2d3bb7859e,2c9e548be18521d1c43cde1c582c6de8,19.90,8.72

In [14]:
query.isnull().sum()

order_id              0
order_status          0
order_approved_at    15
product_id            0
seller_id             0
price                 0
freight_value         0
dtype: int64

**Consulta todos os pedidos independente se contém itens associados - Left Join**

In [15]:
query = pd.merge(orders[['order_id', 'order_status', 'order_approved_at']],
                orders_items[['order_id', 'product_id', 'seller_id', 'price', 'freight_value']],
                on='order_id',
                how='left')

In [16]:
query.isnull().sum()

order_id               0
order_status           0
order_approved_at    161
product_id           775
seller_id            775
price                775
freight_value        775
dtype: int64

**Consulta todos os pedidos independente se contém pedidos associados - Right Join**

In [17]:
query = pd.merge(orders[['order_id', 'order_status', 'order_approved_at']],
                orders_items[['order_id', 'product_id', 'seller_id', 'price', 'freight_value']],
                on='order_id',
                how='right')

In [18]:
query.isnull().sum()

order_id              0
order_status          0
order_approved_at    15
product_id            0
seller_id             0
price                 0
freight_value         0
dtype: int64

**Consulta todos os registros nos dois DataFrames - Outer Join**

In [19]:
query = pd.merge(orders[['order_id', 'order_status', 'order_approved_at']],
                orders_items[['order_id', 'product_id', 'seller_id', 'price', 'freight_value']],
                on='order_id',
                how='outer')

In [20]:
query.isnull().sum()

order_id               0
order_status           0
order_approved_at    161
product_id           775
seller_id            775
price                775
freight_value        775
dtype: int64